
hr{
    height: 10px;
    border-width: 0;
    background-color: black;
    position: relative;
    bottom: 10px;
    width: 100%;
    overflow-x: hidden;
    margin: auto;
    margin-left: -10px;
    padding-right: 28px;
}
