<body>
    <div class="bottombar">
        <button (click)="changeDisplay()">Angular</button>
        <div id="grid-layout-33" *ngIf="display">
            <div>
                <img src="assets/image/html.png">
                <p>HTML</p>
            </div>
            
            <div>
                <img src="assets/image/javascript.png">
                <p>Typescript</p>
            </div>  

            <div>
                <img src="assets/image/css.png">
                <p>CSS</p>
            </div>  
        </div>

    </div>
    
</body>
